.link{
    color: $primary;
    border-bottom: 1px solid transparent;
    text-decoration: none;
    transition: all ease-in-out 450ms;
    font-size: 0.9rem;

    &:hover{
        color: darken($primary, 20);
        border-bottom: 1px solid $primary;
    }

    &-err{
        color: lighten(red, 22);
        
        &:hover{
            color: lighten(red, 14);
            border-bottom: 1px solid lighten(red, 14);

        }
    }
}