.journal{
    
    font-weight: lighter;

    &__main-content{
        display: flex;
        font-size: 1.2rem;
    }



    &__sidebar{
        background-color: $dark-grey;
        color: white;
        display: flex;
        flex-direction: column;
        height: 100vh;
        padding: 0 10px;
        max-width: 700px;

        &-navbar{
            display: flex;
            justify-content: space-between;
            font-size: 1.3rem;
        }
    }

    &__new-entry{
        align-items: center;
        cursor: pointer;
        display: flex;
        width: 100%;
        justify-content: center;
        flex-direction: column;
        &:hover{
            color: darken(white, 22);
        }
    }

    &__entries{
        flex: 1 1 auto;
        overflow-y: scroll;
        padding: .8rem;

        &::-webkit-scrollbar { width: 0 !important }

    }

    &__entry{
        background-color: white;
        border-radius: 4px;
        color: $dark-grey;
        display: flex !important;

        &-picture{
            width: 75px;
        }

        &-body{
            padding: 15px;
        }

        &-title{
            font-size: 14px;
            font-weight: 700;
        }

        &-content{
            font-size: 10px;
        }

        &-date-box{
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 5px;
            font-size: 12px;
        }

    }

}